/* Soluzione qui */

/* Modalità TABLET */
@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    h2{
        font-size: 30px;
    }

    .container{
        padding: 40px;
    }

    
}

/* Modalità DESKTOP */
@media screen and (min-width: 992px){
    
}